{% macro social_links(social_config) %}
<div>

  {% if social_config.google_scholar %}
  <a href="https://scholar.google.com/citations?user={{ social_config.google_scholar }}" target="_blank" title="Google Scholar">
    <span class="icon" title="Google Scholar">
			<i class="ai ai-google-scholar ai-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.facebook %}
  <a href="https://facebook.com/{{ social_config.facebook }}" target="_blank" title="Facebook">
    <span class="icon" title="Facebook">
      <i class="fab fa-facebook fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.linkedin %}
  <a href="https://www.linkedin.com/in/{{ social_config.linkedin }}" target="_blank" title="Linkedin">
    <span class="icon" title="LinkedIn">
      <i class="fab fa-linkedin fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.github %}
  <a href="https://github.com/{{ social_config.github }}" target="_blank" title="Github">
    <span class="icon" title="GitHub">
      <i class="fab fa-github fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.gitlab %}
  <a href="https://gitlab.com/{{ social_config.gitlab }}" target="_blank" title="Gitlab">
    <span class="icon" title="GitLab">
      <i class="fab fa-gitlab fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.stackoverflow %}
  <a href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" target="_blank" title="StackOverflow">
    <span class="icon" title="Stack Overflow">
      <i class="fab fa-stack-overflow fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.instagram %}
  <a href="https://www.instagram.com/{{ social_config.instagram}}" target="_blank">
    <span class="icon" title="Instagram">
      <i class="fab fa-instagram fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.email %}
  <a href="mailto:{{ social_config.email }}" target="_blank" title="Email">
    <span class="icon" title="Email">
      <i class="far fa-envelope fa-lg"></i>
    </span>
  </a>
  {% endif %}
  
  {% if social_config.medium %}
  <a href="https://medium.com/@{{ social_config.medium }}" target="_blank" title="Medium">
    <span class="icon" title="Medium">
      <i class="fab fa-medium fa-lg"></i>
    </span>
  </a>
  {% endif %}

  {% if social_config.googleplay %}
  <a href="https://play.google.com/store/apps/developer?id={{ social_config.googleplay }}&hl=en" target="_blank" title="Google Play">
    <span class="icon" title="Google play">
      <i class="fab fa-google-play fa-lg"></i>
    </span>
  </a>
  {% endif %}
</div>
{% endmacro %}

{% macro page_publish_metadata(page) %}
<span class="icon-text has-text-grey">
  <span class="page_timestamp">Published on <time  datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
</span>
{% endmacro %}

{% macro render_categories(categories) %}
<p>
  Categories:
  {% for category in categories %}
  <a href="{{ get_taxonomy_url(kind='categories', name=category) }}">
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-cube"></i>
      </span>
      <span>{{category}}</span>
    </span>
  </a>
  {% endfor %}
</p>
{% endmacro %}

{% macro render_tags(tags) %}
<p>
  Tags:
  {% for tag in tags %}
  <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-tag"></i>
      </span>
      <span>{{tag}}</span>
    </span>
  </a>
  {% endfor %}
</p>
{% endmacro %}
