.summary-article{
    font-size: medium !important;
    margin: 0 1em 0 1em;
}

.summary-article > section > heading > h2 {
    font-size: larger;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5rem;
}

.summary-article > section > p {
    margin: 1em 0 0.5em 0;
}