.data_table_nav_button{
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: black;
    margin: 1px;
}

.data_table_nav_button:hover{
    border-color: slategray;
    color: black;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.data_table_nav_button:disabled{
    cursor: not-allowed;
    background-color: lightgray;
    color: darkslategray;
    border-color: slategray;
    box-shadow: none;
}


.data_table_row{
    padding: 0;
    border: 1px solid black;
}

.data_table_row:hover{
    border: 2px solid darkslategray !important;
    background-color: unset;
    /* box-shadow: 2px 2px 2px 2px lightgray; */
}